.block1 {
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 20px;

    .costList {
        width: 70%;
        max-height: 400px;

        flex-shrink: 0; 
        box-sizing: border-box;

        padding: 10px 8px 10px 0;

        overflow-y: auto;

        border: 1px solid bisque;
        border-radius: 15px;

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;

        background-color: beige;

        &::-webkit-scrollbar {
            width: 9px;
            height: 5px;
        }

        &::-webkit-scrollbar-track-piece {
            background-color: rgb(185, 194, 172);
        }

        &::-webkit-scrollbar-thumb {
            background: #050202;
            border-radius: 5px;
          }
    }
}